.search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-result {
  background-color: #333;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 14px;
}

.search-result:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-label {
  margin-bottom: 3px;
  display: inline-block;
}
